.divider {
  margin-bottom: 15px;
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.divider > span {
  position: relative;
  display: inline-block;
}

.divider > span:before,
.divider > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: gainsboro;
}

.divider > span:before {
  right: 100%;
  margin-right: 15px;
}

.divider > span:after {
  left: 100%;
  margin-left: 15px;
}

.icon-fb{
  background-image : url(./facebook.svg);
  background-size: cover;
  height: 25px;
  width: 25px;
  float: left;
}
.icon-google{
  background-image : url(./google.svg);
  background-size: cover;
  
  height: 25px;
  width: 25px;
  float: left;
}
.fb-btn{
  font-size:0.8em;
  border-color:gainsboro;
  color:black;
  background-color:white;
  margin:30px 0;
  width:49%;
}
.google-btn{
  font-size:0.8em;
  border-color:gainsboro;
  color:black;
  background-color:white;
  margin:30px 0;
  width:49%;
  float: right;
}

.brandlogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}